### basic settings

# site properties and page defaults
title: Dierickx Lab for Circadian Regulation of Cardiometabolism
description: The Dierickx lab is interested in the molecular mechanisms of the circadian clock driving rhythmic metabolic processes in the heart. 
             We try to understand how deregulated clocks are leading to cardiovascular defects and trying to target the circadian clock in order to treat and prevent heart diseases.
logo: images/Logo.png
header: images/banner3.png
footer: images/banner3.png
baseurl: /labpage

# site social media and other links
links:
  email: pieterjan.dierickx@mpi-bn.mpg.de
  google-scholar: https://scholar.google.com/citations?hl=en&user=hvJMKJwAAAAJ&view_op=list_works&sortby=pubdate
  home-page : https://imprs-mob.mpg.de/147641/Pieterjan-Dierickx
  twitter: pjdierickx


### advanced settings

# automatic citations
auto-cite:
  plugins:
    - name: sources
      input:
        - ../_data/sources.yaml
  output: ../_data/citations.yaml

# default front matter parameters for markdown files
defaults:
  # all markdown files
  - scope:
      path: ""
    values:
      layout: default
  # markdown files in /_members
  - scope:
      type: "members"
    values:
      layout: member
  # markdown files in /_posts
  - scope:
      type: "posts"
    values:
      layout: post

# collections
collections:
  members:
    output: true

# sass settings
sass:
  sass_dir: css

# syntax highlighting
highlighter: rouge

# plugins
plugins:
  - jekyll-redirect-from
  - jekyll-feed
  - jekyll-sitemap
  # - jekyll-github-metadata
  # - jekyll-avatar
  # - jekyll-gist
  # - jekyll-mentions
  # - jekyll-relative-links
  # - jemoji

# jekyll theme
theme: null
